@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&: is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-details: var(--details);
  --color-details-foreground: var(--details-foreground);
  --color-muted-backdrop: var(--muted-backdrop);
  --font-display: "Manrope", "sans-serif";
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "sans-serif";
  --inset-shadow-base: inset 0px 0px 120px 20px var(--color-zinc-700);
  --sidebar-icons-stroke: 1.5px;
  --animate-star: bounce-out-down 1.5s ease-out forwards;
  --animate-gradient-button: gradient-button 16s linear infinite;

  @keyframes bounce-out-down {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translateY(-40px);
    }

    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  @keyframes gradient-button {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

:root {
  --background: oklch(0.92 0 49);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.92 0 49);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.92 0 49);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.2 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.88 0 none);
  --muted-foreground: oklch(55.553% 0.00006 271.152);
  --muted-backdrop: oklch(70.302% 0.05773 262.137 / 0.696);
  --accent: oklch(0.88 0 none);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.52 0.2 4);

  --border: oklch(0.87 0 0);
  --input: oklch(0.922 0 0);
  --radius: 1rem;
  --ring: oklch(83.38% 0.04704 263.703);

  --chart-1: oklch(83.738% 0.07108 341.604);
  --chart-2: oklch(88.235% 0.11944 95.681);
  --chart-3: oklch(70.965% 0.0841 118.428);
  --chart-4: oklch(83.38% 0.04704 263.703);

  --sidebar: oklch(89.3% 0.00216 14.61);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.205 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.88 0 none);
  --sidebar-ring: oklch(0.708 0 0);
  --details: #9ad3f4;
  --details-foreground: oklch(0.5 0.12 243);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.42 0.18 266);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  /* Градиент кнопки добавления желаний */
  .gradient-btn {
    @apply bg-linear-[-45deg,#FFA63D,#FF3D77,#338AFF,#3CF0C5] rounded-full bg-size-[600%] size-14 animate-gradient-button;
  }

  /* Сетка для вишлиста в табличном view */
  .wl-table-grid {
    @apply gap-3 md:gap-4 lg:gap-6 grid grid-cols-[6rem_10rem_1fr] sm:grid-cols-[6rem_10rem_1fr_1fr] md:grid-cols-[7rem_2fr_1fr_1fr] lg:grid-cols-[10rem_2fr_1fr_1fr_1fr_1fr];
  }

  /* Для устройств с курсором */
  @media (any-hover: hover) {
    .show-actions {
      @apply invisible opacity-0 transition translate-y-3 duration-300 pointer-events-none;
    }

    .group-card-wrapper:hover .show-actions,
    .group-card-wrapper:focus-within .show-actions,
    .show-actions[data-state="open"] {
      @apply visible opacity-100 translate-y-0 pointer-events-auto;
    }

    .group-card-wrapper:hover .cover-overlay,
    .group-card-wrapper:focus-within .cover-overlay,
    .group-card-wrapper:has([aria-expanded="true"]) .cover-overlay {
      @apply brightness-50;
    }
  }

  /* Для устройств без курсора */
  @media (any-hover: none) {
    .show-actions {
      @apply visible opacity-100;
    }
  }

  .selection-menu {
    @apply bg-secondary rounded-2xl **:first:hover:rounded-tl-xl **:first:focus:rounded-tl-xl **:first:hover:rounded-tr-xl **:first:focus:rounded-tr-xl **:last:hover:rounded-bl-xl **:last:focus:rounded-bl-xl **:last:hover:rounded-br-xl **:last:focus:rounded-br-xl **:cursor-pointer;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .cancel-button {
    @apply bg-muted/60 hover:bg-muted border-0 h-12 text-foreground hover:text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background rounded-xl font-display text-foreground leading-tight;
  }
}
