@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&: is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-muted-backdrop: var(--muted-backdrop);
  --color-logo-default: var(--logo-default);
  --color-logo-inverted: var(--logo-inverted);

  --font-display: "Manrope", "sans-serif";
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "sans-serif";
  --inset-shadow-base: inset 0px 0px 120px 20px var(--color-zinc-700);

  --animate-gradient-button: gradient-button 16s linear infinite;

  @keyframes bounce-out-down {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translateY(-40px);
    }

    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  @keyframes gradient-button {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

:root {
  --background: oklch(95.607% 0.0073 80.574);
  --foreground: oklch(0.14 0 285.86);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 285.86);
  --popover: oklch(0.97 0 0);
  --popover-foreground: oklch(0.14 0 285.86);
  --primary: oklch(0.14 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.14 0 285.86);
  --muted: oklch(86.378% 0.0001 271.152);
  --muted-foreground: oklch(0.44 0 0);
  --accent: oklch(0.92 0 49);
  --accent-foreground: oklch(0.21 0.01 285.93);
  --destructive: oklch(0.46 0.21 277.06);

  --border: oklch(0.92 0 286.61);
  --input: oklch(0.92 0 286.61);
  --ring: oklch(0.93 0.03 273.66);

  --chart-1: oklch(80.039% 0.10824 341.463);
  --chart-2: oklch(0.88 0.12 95.66);
  --chart-3: oklch(0.71 0.08 118.39);
  --chart-4: oklch(78.764% 0.07856 263.634);
  --chart-5: oklch(0.43 0.23 292.72);

  --sidebar: oklch(0.14 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.14 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(95.607% 0.0073 80.574);
  --sidebar-accent-foreground: oklch(0.21 0.01 285.93);
  --sidebar-border: oklch(0.92 0 286.61);
  --sidebar-ring: oklch(0.93 0.03 273.66);

  --radius: 1rem;

  --logo-default: oklch(0.14 0 285.86);
  --logo-inverted: oklch(1 0 0);
}

.dark {
  --background: oklch(0.14 0 285.86);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.21 0.01 285.93);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.21 0.01 285.93);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.97 0 0);
  --primary-foreground: oklch(0.27 0.01 286.1);
  --secondary: oklch(0.27 0.01 286.1);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.27 0.01 286.1);
  --muted-foreground: oklch(0.71 0.01 286.09);
  --accent: oklch(0.27 0.01 286.1);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.68 0.16 276.93);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.93 0.03 273.66);

  --chart-1: oklch(0.84 0.07 341.71);
  --chart-2: oklch(0.88 0.12 95.66);
  --chart-3: oklch(0.71 0.08 118.39);
  --chart-4: oklch(0.83 0.05 263.68);
  --chart-5: oklch(0.43 0.23 292.72);

  --sidebar: oklch(0.21 0.01 285.93);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.97 0 0);
  --sidebar-primary-foreground: oklch(0.14 0 0);
  --sidebar-accent: oklch(0.27 0.01 286.1);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.93 0.03 273.66);

  --logo-default: oklch(1 0 0);
  --logo-inverted: oklch(0.14 0 285.86);
}

@layer utilities {
  /* Градиент кнопки добавления желаний */
  .gradient-btn {
    @apply bg-linear-[-45deg,#FFA63D,#FF3D77,#338AFF,#3CF0C5] rounded-full bg-size-[600%] size-14 animate-gradient-button;
  }

  /* Сетка для вишлиста в табличном view */
  .wl-table-grid {
    @apply gap-3 md:gap-4 lg:gap-6 grid grid-cols-[6rem_10rem_1fr] sm:grid-cols-[6rem_10rem_1fr_1fr] md:grid-cols-[7rem_2fr_1fr_1fr] lg:grid-cols-[10rem_2fr_1fr_1fr_1fr_1fr];
  }

  /* Для устройств с курсором */
  @media (any-hover: hover) {
    .show-actions {
      @apply invisible opacity-0 transition translate-y-3 duration-300 pointer-events-none;
    }

    .group-card-wrapper:hover .show-actions,
    .group-card-wrapper:focus-within .show-actions,
    .show-actions[data-state="open"] {
      @apply visible opacity-100 translate-y-0 pointer-events-auto;
    }

    .group-card-wrapper:hover .cover-overlay,
    .group-card-wrapper:focus-within .cover-overlay,
    .group-card-wrapper:has([aria-expanded="true"]) .cover-overlay {
      @apply brightness-50;
    }
  }

  /* Для устройств без курсора */
  @media (any-hover: none) {
    .show-actions {
      @apply visible opacity-100;
    }
  }

  .selection-menu {
    @apply bg-secondary rounded-2xl **:first:hover:rounded-tl-xl **:first:focus:rounded-tl-xl **:first:hover:rounded-tr-xl **:first:focus:rounded-tr-xl **:last:hover:rounded-bl-xl **:last:focus:rounded-bl-xl **:last:hover:rounded-br-xl **:last:focus:rounded-br-xl **:cursor-pointer;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .cancel-button {
    @apply bg-muted/60 hover:bg-muted border-0 h-12 text-foreground hover:text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background rounded-xl font-display text-foreground leading-tight;
  }
}
