@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&: is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-pink: var(--pink);
  --color-pink-bg: var(--pink-bg);
  --color-yellow: var(--yellow);
  --color-yellow-bg: var(--yellow-bg);
  --color-indigo: var(--indigo);
  --color-indigo-bg: var(--indigo-bg);
  --color-blue: var(--blue);
  --color-blue-bg: var(--blue-bg);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-muted-backdrop: var(--muted-backdrop);
  --color-logo-default: var(--logo-default);
  --color-logo-inverted: var(--logo-inverted);
  --color-overlay: var(--overlay);
  --color-inactive-bm: var(--bookmark-background);
  --font-display: "TikTok Sans", "sans-serif";
  --font-headers: "Manrope", "sans-serif";
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "sans-serif";
  --inset-shadow-base: inset 0px 0px 120px 20px var(--color-zinc-700);

  --animate-gradient-button: gradient-button 16s linear infinite;

  @keyframes bounce-out-down {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translateY(-40px);
    }

    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  @keyframes gradient-button {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

:root {
  --background: #f7f7f7;
  --foreground: oklch(0.2 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 285.86);
  --popover: oklch(0.97 0 0);
  --popover-foreground: oklch(0.14 0 285.86);
  --primary: oklch(0.2 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.14 0 285.86);
  --muted: oklch(89.99% 0.00325 15.484);
  --muted-foreground: oklch(0.44 0 0);
  --accent: oklch(89.99% 0.00325 15.484);
  --accent-foreground: oklch(0.21 0.01 285.93);
  --destructive: oklch(0.59 0.22 18);
  --bookmark-background: oklch(1 0 0);
  --border: oklch(0.92 0 286.61);
  --input: oklch(0.92 0 286.61);
  --ring: oklch(0.93 0.03 273.66);
  --pink: oklch(68.697% 0.18145 343.783);
  --pink-bg: oklch(84.306% 0.09246 341.464);
  --yellow: oklch(77.263% 0.14126 94.542);
  --yellow-bg: oklch(91.928% 0.06596 96.175);
  --indigo: oklch(89.749% 0.01424 303.899);
  --indigo-bg: oklch(44.881% 0.15235 268.287);
  --blue: oklch(50.647% 0.12715 262.528);
  --blue-bg: oklch(85.238% 0.04678 263.712);
  --sidebar: oklch(89.99% 0.00325 15.484);
  --sidebar-foreground: oklch(0.2 0 0);
  --sidebar-primary: oklch(0.2 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(78.422% 0.00223 15.01 / 0.764);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(71.871% 0.00008 271.152 / 0);
  --sidebar-ring: oklch(0.93 0.03 273.66);
  --radius: 1rem;
  --logo-default: oklch(0.14 0 285.86);
  --logo-inverted: oklch(0.2 0 0);
  --overlay: oklch(24.462% 0.00151 16.245 / 0.373);
}

.dark {
  --background: oklch(0.14 0 285.86);
  --foreground: oklch(0.97 0 106);
  --card: oklch(0.21 0.01 285.93);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.21 0.01 285.93);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.97 0 106);
  --primary-foreground: oklch(0.27 0.01 286.1);
  --secondary: oklch(0.27 0.01 286.1);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(34.341% 0.01215 285.704);
  --muted-foreground: oklch(0.71 0.01 286.09);
  --accent: oklch(42.866% 0.00494 286.051);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.59 0.22 18);
  --bookmark-background: oklch(52.214% 0.00626 286.048);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.93 0.03 273.66);
  --pink: oklch(92.235% 0.02189 339.345);
  --pink-bg: oklch(68.91% 0.18976 344.236);
  --yellow: oklch(88.387% 0.02729 95.393);
  --yellow-bg: oklch(62.413% 0.12976 101.62);
  --indigo: oklch(25.071% 0.12602 298.566);
  --indigo-bg: oklch(80.024% 0.06692 302.718);
  --blue: oklch(89.669% 0.02199 265.785);
  --blue-bg: oklch(60.355% 0.16757 262.527);
  --sidebar: oklch(0.21 0.01 285.93);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.97 0 0);
  --sidebar-primary-foreground: oklch(0.14 0 0);
  --sidebar-accent: oklch(0.27 0.01 286.1);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(100% 0.00011 271.152 / 0);
  --sidebar-ring: oklch(0.93 0.03 273.66);
  --logo-default: oklch(0.14 0 285.86);
  --logo-inverted: oklch(1 0 0);
  --overlay: oklch(97.015% 0.00011 271.152 / 0.252);
}

@layer utilities {
  /* Градиент кнопки добавления желаний */
  .gradient-btn {
    @apply bg-linear-[-45deg,#FFA63D,#FF3D77,#338AFF,#3CF0C5] rounded-full bg-size-[600%] size-14 animate-gradient-button;
  }

  /* Для устройств с курсором */
  @media (any-hover: hover) {
    .show-actions {
      @apply invisible opacity-0 transition translate-y-3 duration-300 pointer-events-none;
    }

    .group-card-wrapper:hover .show-actions,
    .group-card-wrapper:focus-within .show-actions,
    .show-actions[data-state="open"] {
      @apply visible opacity-100 translate-y-0 pointer-events-auto;
    }

    .group-card-wrapper:hover .cover-overlay,
    .group-card-wrapper:focus-within .cover-overlay,
    .group-card-wrapper:has([aria-expanded="true"]) .cover-overlay {
      @apply visible bg-overlay transition-all duration-300;
    }
  }

  /* Для устройств без курсора */
  @media (any-hover: none) {
    .show-actions {
      @apply visible opacity-100;
    }
  }

  .selection-menu {
    @apply bg-secondary rounded-2xl **:first:hover:rounded-tl-xl **:first:focus:rounded-tl-xl **:first:hover:rounded-tr-xl **:first:focus:rounded-tr-xl **:last:hover:rounded-bl-xl **:last:focus:rounded-bl-xl **:last:hover:rounded-br-xl **:last:focus:rounded-br-xl **:cursor-pointer;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .cancel-button {
    @apply bg-muted/60 hover:bg-muted border-0 h-12 text-foreground hover:text-foreground;
  }

  #theme-changer.active {
    @apply scale-1;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background rounded-xl font-display text-foreground leading-tight;
  }
}
