.text-mask {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.wish-table-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 2fr 0.5fr;
  grid-template-areas: "image title actions";
}

@media (min-width: 640px) {
  .wish-table-grid {
    grid-template-columns: auto 4fr 0.5fr;
    grid-template-areas: "image title actions";
  }
}

@media (min-width: 768px) {
  .wish-table-grid {
    grid-template-columns: 1fr 3fr 1fr 1fr 0.5fr;
    grid-template-areas: "image title priority controls actions";
  }
}

@media (min-width: 1024px) {
  .wish-table-grid {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "image title priority additional controls actions";
  }
}

@media (min-width: 1280px) {
  .wish-table-grid {
    grid-template-columns: auto 4fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "image title priority additional controls actions";
  }
}

.wl-table-grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto 2fr 0.5fr;
  grid-template-areas: "image title actions";
}

@media (min-width: 640px) {
  .wl-table-grid {
    grid-template-columns: auto 3fr 1fr 0.5fr;
    grid-template-areas: "image title collab actions";
  }
}

@media (min-width: 768px) {
  .wl-table-grid {
    grid-template-columns: auto 2fr 1fr 1fr;
    grid-template-areas: "image title collab actions";
  }
}

@media (min-width: 1024px) {
  .wl-table-grid {
    grid-template-columns: auto 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "image title collab created updated actions";
  }
}
