/* кроссбраузерная оптимизация шрифтов */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* сетка для вишлистов */
.grid-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

@media screen and (max-width: 640px) {
  .grid-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}

/* masonry */
.my-masonry-grid {
  display: flex;
  margin-left: -1.25rem;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1.25rem;
  background-clip: padding-box;
}
@media screen and (max-width: 768px) {
  .my-masonry-grid {
    margin-left: -0.5rem;
  }
  .my-masonry-grid_column {
    padding-left: 0.5rem;
  }
}

/* маркер на hover в таблице */
.has-active-filter::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  top: -0.1rem;
  right: -0.2rem;
  background-color: var(--destructive);
  transition: transform 0.25s ease-out;
}

.text-mask {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.show-btns-on-hover {
  position: relative;
  overflow: hidden;
}

@media (any-hover: hover) {
  .show-btns-on-hover .action-btns {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0%;
    transition: all 0.3s ease-in-out;
  }

  .show-btns-on-hover.active .action-btns,
  .action-btns:focus-within,
  .action-btns:has([aria-expanded="true"]),
  .action-btns:has([aria-pressed="true"]) {
    opacity: 100%;
    visibility: visible;

    pointer-events: all;
    transform: translateY(0%);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(115, 115, 115, 0.289) 100%
    );
  }
}

@media (any-hover: none) {
  .show-btns-on-hover .action-btns {
    transform: translateY(0);
    z-index: 10;
    pointer-events: all;
    visibility: visible;
  }
}

.image-pixelated {
  image-rendering: pixelated;
  filter: contrast(140%) saturate(120%);
}
.image-normal {
  image-rendering: auto;
  filter: none;
}

.bg-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -10;
  backdrop-filter: blur(30px) saturate(150%);
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
  animation: move 20s ease-in-out infinite alternate;
}

/* Разные размеры и позиции */
.blob1 {
  background: #e2eafa;
  width: 600px;
  height: 600px;
  top: -20%;
  right: -5%;
  animation-delay: 0s;
}

.blob2 {
  background: oklch(0.93 0.03 273);
  width: 300px;
  height: 300px;
  top: 60%;
  left: 50%;
  animation-delay: 3s;
}

.blob3 {
  background: #f6e3ee;
  width: 350px;
  height: 350px;
  bottom: 10%;
  left: -5%;
  animation-delay: 6s;
}

/* Анимация движения и "жидкого" эффекта */
@keyframes move {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
  }
  25% {
    transform: translate(20px, -30px) scale(1.2) rotate(20deg);
    border-radius: 60% 40% 50% 50% / 50% 60% 40% 60%;
  }
  50% {
    transform: translate(-20px, 20px) scale(0.95) rotate(45deg);
    border-radius: 50% 50% 60% 40% / 60% 40% 50% 50%;
  }
  75% {
    transform: translate(10px, 10px) scale(1.02) rotate(65deg);
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 60%;
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(90deg);
    border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
  }
}

.wish-table-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 2fr 0.5fr;
  grid-template-areas: "image title actions";
}

@media (min-width: 640px) {
  .wish-table-grid {
    grid-template-columns: auto 4fr 0.5fr;
    grid-template-areas: "image title actions";
  }
}

@media (min-width: 768px) {
  .wish-table-grid {
    grid-template-columns: 1fr 3fr 1fr 1fr 0.5fr;
    grid-template-areas: "image title priority controls actions";
  }
}

@media (min-width: 1024px) {
  .wish-table-grid {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "image title priority additional controls actions";
  }
}

@media (min-width: 1280px) {
  .wish-table-grid {
    grid-template-columns: auto 4fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "image title priority additional controls actions";
  }
}

.wl-table-grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto 2fr 0.5fr;
  grid-template-areas: "image title actions";
}

@media (min-width: 640px) {
  .wl-table-grid {
    grid-template-columns: auto 3fr 1fr 0.5fr;
    grid-template-areas: "image title collab actions";
  }
}

@media (min-width: 768px) {
  .wl-table-grid {
    grid-template-columns: auto 2fr 1fr 1fr;
    grid-template-areas: "image title collab actions";
  }
}

@media (min-width: 1024px) {
  .wl-table-grid {
    grid-template-columns: auto 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "image title collab created updated actions";
  }
}
